{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.change_photo or user == photo.author %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:UpdatePhoto" photo.pk %}">Редактировать</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:DeletePhoto" photo.pk %}">Удалить</a>
        </li>
            {% endif %}

    {% endif %}
{% endblock %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body text-center">
            <img src="{{ photo.img.url }}" style="height: auto; width: auto">
            <h5 class="card-title">{{ photo.upper }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ photo.author }}</h6>
            <p class="card-text">Подпись: {{ photo.caption }}</p>
        </div>

        <a href="{% url 'webapp:AddFavoritePhoto' photo.pk%}"> В избранное</a>
        </div>
    </div>






{% endblock %}
