<h1 class="text-center">Фото</h1>
<div class="row">
    {% for photo in photos %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-3">
                <img src="{{ photo.img.url }}" style="height: 300px;width: auto" >
                <h5 class="card-title">{{ photo.upper }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ photo.author }}</h6>
            <p class="card-text">Подпись: {{ photo.caption }}</p>
                <p class="card-text">Дата: {{ photo.created_at }}</p>
                {% if photo.album  %}
                    <p class="card-text">Альбомы: </p>
                    {% for album in  photo.album.all %}
                        <a class="nav-link" href="{% url "webapp:AlbumView" album.pk %}">{{ album.name }}</a>
                    {% endfor %}
                {% endif %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:PhotoView' photo.pk %}">Смотреть</a>
        </li>
            </div>
        </div>
        {% empty %}
    {% endfor %}
    {% if is_paginated %}
        <div class="text-center">{% include "partial/pagination.html" %}</div>
    {% endif %}

</div>
